<?xml version="1.0" encoding="UTF-8"?>
<!-- vi: set et smarttab sw=2 tabstop=2: -->
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
<!-- 
  <localRepository>C:\dev\onap\repository</localRepository>
  -->
  <profiles>
    <profile>
      <id>openecomp-staging</id>
      <repositories>
        <repository>
          <id>openecomp-staging</id>
          <name>openecomp-staging</name>
          <url>https://nexus.onap.org/content/repositories/staging/</url>
          <releases>
            <enabled>true</enabled>
            <updatePolicy>never</updatePolicy>
          </releases>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <id>openecomp-staging</id>
          <name>openecomp-staging</name>
          <url>https://nexus.onap.org/content/repositories/staging/</url>
          <releases>
            <enabled>true</enabled>
            <updatePolicy>never</updatePolicy>
          </releases>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
        </pluginRepository>
      </pluginRepositories>
    </profile>
    <profile>
      <id>openecomp-public</id>
      <repositories>
        <repository>
          <id>openecomp-public</id>
          <name>openecomp-public</name>
          <url>https://nexus.onap.org/content/repositories/public/</url>
          <releases>
            <enabled>true</enabled>
            <updatePolicy>never</updatePolicy>
          </releases>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <id>openecomp-public</id>
          <name>openecomp-public</name>
          <url>https://nexus.onap.org/content/repositories/public/</url>
          <releases>
            <enabled>true</enabled>
            <updatePolicy>never</updatePolicy>
          </releases>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
        </pluginRepository>
      </pluginRepositories>
    </profile>
    <profile>
      <id>openecomp-release</id>
      <repositories>
        <repository>
          <id>openecomp-release</id>
          <name>openecomp-release</name>
          <url>https://nexus.onap.org/content/repositories/releases/</url>
          <releases>
            <enabled>true</enabled>
            <updatePolicy>never</updatePolicy>
          </releases>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <id>openecomp-release</id>
          <name>openecomp-release</name>
          <url>https://nexus.onap.org/content/repositories/releases/</url>
          <releases>
            <enabled>true</enabled>
            <updatePolicy>never</updatePolicy>
          </releases>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
        </pluginRepository>
      </pluginRepositories>
    </profile>
 
    <profile>
      <id>openecomp-snapshots</id>
      <repositories>
        <repository>
          <id>openecomp-snapshot</id>
          <name>openecomp-snapshot</name>
          <url>https://nexus.onap.org/content/repositories/snapshots/</url>
          <releases>
            <enabled>false</enabled>
          </releases>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <id>openecomp-snapshot</id>
          <name>openecomp-snapshot</name>
          <url>https://nexus.onap.org/content/repositories/snapshots/</url>
          <releases>
            <enabled>false</enabled>
          </releases>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
        </pluginRepository>
      </pluginRepositories>
    </profile>
    <profile>
      <id>opendaylight-release</id>
      <repositories>
        <repository>
          <id>opendaylight-mirror</id>
          <name>opendaylight-mirror</name>
          <url>https://nexus.opendaylight.org/content/repositories/public/</url>
          <releases>
            <enabled>true</enabled>
            <updatePolicy>never</updatePolicy>
          </releases>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <id>opendaylight-mirror</id>
          <name>opendaylight-mirror</name>
          <url>https://nexus.opendaylight.org/content/repositories/public/</url>
          <releases>
            <enabled>true</enabled>
            <updatePolicy>never</updatePolicy>
          </releases>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
        </pluginRepository>
      </pluginRepositories>
    </profile>
 
    <profile>
      <id>opendaylight-snapshots</id>
      <repositories>
        <repository>
          <id>opendaylight-snapshot</id>
          <name>opendaylight-snapshot</name>
          <url>https://nexus.opendaylight.org/content/repositories/opendaylight.snapshot/</url>
          <releases>
            <enabled>false</enabled>
          </releases>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <id>opendaylight-snapshot</id>
          <name>opendaylight-snapshot</name>
          <url>https://nexus.opendaylight.org/content/repositories/opendaylight.snapshot/</url>
          <releases>
            <enabled>false</enabled>
          </releases>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
        </pluginRepository>
      </pluginRepositories>
    </profile>
	
	<profile>
	  <id>nexus-pomba</id>
      <repositories>
		<repository>
          <id>nexus-pomba-snapshot</id>
          <url>http://10.147.24.139:8081/repository/onap-mvn-snapshot/</url>
          <releases>
            <enabled>false</enabled>
            <updatePolicy>never</updatePolicy>
          </releases>
          <snapshots>
            <enabled>true</enabled>
            <updatePolicy>always</updatePolicy>
          </snapshots>
        </repository>
        <repository>
          <id>nexus-pomba-release</id>
          <url>http://10.147.24.139:8081/repository/onap-mvn-release/</url>
          <releases>
            <enabled>true</enabled>
            <updatePolicy>always</updatePolicy>
          </releases>
          <snapshots>
            <enabled>false</enabled>
            <updatePolicy>never</updatePolicy>
          </snapshots>
        </repository>
    </repositories>
	</profile>
  </profiles>
  
  <activeProfiles>
    <activeProfile>openecomp-staging</activeProfile>
    <activeProfile>openecomp-public</activeProfile>
    <activeProfile>openecomp-release</activeProfile>
    <activeProfile>openecomp-snapshots</activeProfile>
    <activeProfile>opendaylight-release</activeProfile>
    <activeProfile>opendaylight-snapshots</activeProfile>
	<activeProfile>nexus-pomba</activeProfile>
  </activeProfiles>
  
  <proxies>
   <proxy>
      <id>amdocs-proxy-http</id>
      <active>true</active>
      <protocol>http</protocol>
      <host>genproxy.amdocs.com</host>
      <port>8080</port> 
	  <nonProxyHosts>mavencentral.*|10.*</nonProxyHosts>	  
    </proxy>
	<proxy>
      <id>amdocs-proxy-https</id>
      <active>true</active>
      <protocol>https</protocol>
      <host>genproxy.amdocs.com</host>
      <port>8080</port>    
	  <nonProxyHosts>mavencentral.*|10.*</nonProxyHosts>	  
    </proxy>	
  </proxies>
  
  <servers>
		<server>
			<id>nexus</id>
			<username>m92680</username>
			<password>t3b8r8j4s8</password>
		</server>
		<server>
			<id>ecomp_aai</id>
			<username>m92680</username>
			<password>t3b8r8j4s8</password>
		</server>
		<server>
			<id>swm</id>
			<username>m97870</username>
		</server>
		<server>
			<id>nexus-pomba</id>
			<username>mvnonap</username>
			<password>mvnonap</password>
		</server>
  </servers>
  
</settings>